* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
}

section {
  margin: auto;
  width: 1100px;
  height: 800px;
  background-color: #c4c4c4;
  padding-top: 1px;
}

.container {
  width: 100%;
  max-width: calc(1100px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.hidden {
  display: none !important;
}

.wrapper {
  background-color: #e6e6e6;
  height: 200px;
  margin: 50px;
}

.card {
  width: 200px;
  height: 200px;
  background-color: #fc8f8f;
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 200px;
}
.card.small {
  width: 100px;
  height: 100px;
  font-size: 36px;
  line-height: 100px;
  background-color: #fc8f8f;
  color: #ffffff;
  text-align: center;
}

.float-left {
  float: left;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 20px;
}
.float-left2 {
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

.float-right {
  float: right;
  box-sizing: border-box;
  padding: 10px;
  margin-left: 20px;
}

.right-float {
  float: right;
  box-sizing: border-box;
}
