* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: "Pacifico", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
}
.container {
  width: 100%;
  max-width: calc(1100px + 2rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.hidden {
  display: none !important;
}

.card {
  max-width: 400px;
  padding: 1rem;
  border: 1px solid;
}
