:root {
  --container-width: 1060px;
  --basic-space: 1rem;
  --basic-color: #161513;
  --secondary-color: #e94d35;
  --basic-background: #969186;
  --secondary-background: #e6e3de;
  --text-color: #000000;
  --text-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

html {
  font-family: "BaiJamluree";
  font-size: var(--text-size);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: #f2f1ef;
}
header {
  text-align: center;
}
.container {
  max-width: 1440px;
  display: flex;
  margin-top: 36px;
}
a {
  color: #161513;
}
.navigate {
  line-height: 24px;
}
.main-text {
  font-size: 57px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.5600000023841858px;
  text-align: left;
}

button {
  border: 1px solid #161513;
  width: 126px;
  height: 42px;
  background-color: var(--secondary-background);
}
.conte-main {
  overflow: hidden;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 76px;
  flex-direction: row-reverse;
  margin-bottom: 72px;
}
.image {
  margin-right: 10px;
  width: 562px;
  height: 563px;
}
.text {
  margin-top: 104px;
  overflow: hidden;
  max-width: 674px;
}

.line-text {
  margin-top: 23px;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.48px;
  text-align: left;
}

.button-container {
  margin-top: 40px;
  display: inline-flex;
}

.button {
  flex: 1;
}

.active {
  background-color: #161513;
  color: #fff;
  width: 179px;
}

.b {
  display: flex;
  align-items: center;
  height: 102px;
  max-width: 100%;
  background-color: #161513;
  color: #ffffff;
  transform: rotate(-4.6deg);
  margin-bottom: 60px;
}

.svg {
  margin-left: 60px;
}

.container svg {
  margin-right: 60px;
  margin-left: 3px;
}

.conte-center {
  margin-top: 124px;
  overflow: hidden;
  max-width: 1060px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conte-left {
  max-width: 408px;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.47999998927116394px;
  text-align: left;
  margin-bottom: 24px;
}
.conte-right {
  max-width: 612px;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.47999998927116394px;
  text-align: left;
  margin-bottom: 24px;
}
.text-bottom {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.5600000023841858px;
  text-align: left;
  margin-top: 40px;
}

.card {
  display: flex;
  max-width: 1060px;
  gap: 127px;
}

.small-card p {
  color: #e94d35;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.small-card h4 {
  font-size: 23px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.47999998927116394px;
  text-align: left;
}

.text-cont {
  font-size: 31px;
  line-height: 40px;
  letter-spacing: 0.6399999856948853px;
  text-align: left;
  margin-bottom: 36px;
}
.text-cont2 {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.6399999856948853px;
  text-align: left;
  margin-bottom: 26px;
}

.black {
  background-color: #000000;
  color: #fff;
}

.container-buttom {
  display: flex;
  max-width: 1060px;
  border: 1px solid #000000;
  margin-top: 124px;
}
.cont-buttom {
  width: 352px;
  height: 152px;
  text-align: center;
  font-size: 26px;
  line-height: 45px;
  letter-spacing: 0em;
  padding-top: 30px;
}

.awards svg {
  margin-bottom: 20px;
}
.awards {
  margin-top: 120px;
  text-align: center;
}
.container-number {
  margin-bottom: 24px;
}

.right-awards {
  text-align: right;
  margin-right: 24px;
  display: flex;
}

.right-awards p {
  margin-left: 16px;
}
.contein-awards {
  max-width: 1060px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.number {
  color: #fff;
  width: 48px;
  height: 48px;
  flex-grow: 0;
  background-color: #e94d35;
  text-align: center;
  margin: 36px 41px;
  line-height: 2.6;
}
.number2 {
  color: #fff;
  width: 181px;
  padding-left: 13px;
  background-color: #e94d35;
  text-transform: uppercase;
  display: inline-block;
  line-height: 2.5;
}

.left {
  flex-grow: 1;
  text-align: left;
}

.left-port {
  flex-grow: 1;
  text-align: initial;
  margin-left: 40px;
}
.right-port {
  flex-grow: 1;
  text-align: initial;
  margin-right: 40px;
}

.margine {
  margin-top: 9px;
  margin-bottom: 60px;
}

.botton {
  margin-bottom: 24px;
  border: 1px solid;
}

.portfolio {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 1.440000057220459px;
  text-align: left;
}

.revers {
  flex-direction: row-reverse;
}

/* ---------------------------------------------- */
.hight {
  background-color: #e6e3de;
}

.hight-up {
  max-width: 1170px;
  display: flex;
  line-height: 7;
}
input[type="text"],
textarea {
  padding: 10px;
}
input[type="text"] {
  width: 354px;
  background: bottom;
  max-height: 54px;
  margin-top: 32px;
  border: 1px solid;
}
#address {
  height: 100px;
}

.suport {
  max-height: 54px;
  line-height: 52px;
  font-size: 23px;
  margin-top: 32px;
  padding-left: 15px;
}

/*  ----------------------------*/

.down {
  max-width: 1060px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 6;
  color: #ffffff;
  padding-top: 36px;
  background-color: #161513;
}

.first-line {
  display: contents;
  margin-bottom: 48px;
  max-width: 1060px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.second-line {
  display: contents;
  max-width: 1060px;
}

footer a {
  text-decoration: none;
  color: #e6e3de;
  margin-left: 46px;
}

footer svg {
  margin-right: 60px;
  grid-column-start: -3;
}

.some-grid {
  grid-column-start: 10;
}

.left {
  margin-right: -10px;
}

footer {
  background-color: #161513;
  margin-top: 120px;
}

.image {
  grid-column-start: 10;
  border: 1px solid #969186;
  border-radius: 22px;
  max-width: 40px;
  max-height: 40px;
}
/* -------------------------------------- */

.card2 {
  border: 1px solid;
  max-width: 612px;
  text-align: left;
  padding: 25px;
}

.card-grid {
  max-width: 1040px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card-grid h2 {
  margin-bottom: 25px;
  font-size: 31px;
  font-weight: 400;
  line-height: 40px;
}

/* -------------------------------------- */
.card3 {
  border: 1px solid;
  width: 241px;
  line-height: 4;
  text-align: center;
}

.card-grid2 {
  max-width: 1040px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.text-cont3 {
  font-size: 16px;
  line-height: 24px;
}
.text-cont4 {
  font-size: 23px;
  line-height: 32px;
}

.butt {
  background-color: #161513;
  color: #fff;
  max-width: 1060px;
  text-align: center;
  line-height: 3;
}

.mar-bot {
  margin-bottom: 70px;
}
