:root {
  --container-width: 1440px;
  --basic-space: 1rem;
  --basic-color: #d52047;
  --secondary-color: #62bfad;
  --basic-background: #f9f7e8;
  --secondary-background: #eff8f6;
  --text-color: #000000;
  --text-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-size);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
}
body {
  min-height: 100vh;
  display: inline;
  grid-template-rows: auto 1fr auto;
}

img {
  display: inline;
  max-width: 100%;
  margin-bottom: 20px;
}
.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header {
  background-color: #81a36b;
}

.container {
  max-width: 1110px;
  margin: auto;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
}

.footer p {
  margin: 0;
  text-align: left;
  font-family: "Pacifico", sans-serif;
}

h2,
h1,
h3 {
  font-family: "Vetrino";
  font-size: 36px;
  line-height: 38.74px;
  font-weight: 400;
  color: var(--text-color);
}

h2,
h1 {
  padding-bottom: 60px;
}

h1 {
  font-size: 62px;
}

p {
  font-size: 18px;
}

.nav {
  display: flex;
  gap: 90px;
}

.main {
  background-color: #d8d8d6;
  padding-bottom: 120px;
}
.main .pt120 {
  padding-top: 120px;
}

.card {
  max-width: 1110px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 120px;
}
.card2 {
  max-width: 1110px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;

  flex-direction: row-reverse;
}

.card-footer {
  background-color: #81a36b;
  text-align: center;
  width: 350px;
  height: 510px;
}

.card-footer img {
  margin: 15px;
  width: 320px;
  height: 402px;
}

.section-card {
  background-color: #d8d8d6;

  text-align: center;
  padding-bottom: 120px;
}

.section {
  display: flex;
  max-width: 1110px;
}

.container-centr {
  text-align: center;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}
.center-line {
  display: flex;
  text-align: center;
  justify-content: end;
  background-color: #81a36b;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer .center-line {
  max-width: 1330px;
}

.text {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #81a36b;
}
.foote p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 19.5px;
  max-width: 1110px;
  text-align: center;
  padding-bottom: 60px;
}

button {
  border: 1px solid #81a36b;
  width: 190px;
  height: 60px;
  background: bottom;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}
.button {
  display: flex;
  gap: 65px;
  margin-top: 40px;
}
.active {
  background-color: #81a36b;
}

button:hover {
  background: bottom;
}

footer .nav {
  max-width: 1110px;
}

footer .card-foot img {
  padding-left: 20px;
}

.card-foot p {
  margin-bottom: 20px;
}
