:root {
  --container-width: 1110px;
  --basic-space: 1rem;
  --basic-color: #eeeff1;
  --secondary-color: #34547a;
  --trirth-color: #34547a;
  --basic-background: #f9f7e8;
  --secondary-background: #eff8f6;
  --text-color: #000000;
  --text-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* img {
  display: block;
  max-width: 100%;
} */

html {
  font-family: "Roboto", sans-serif;
  font-size: var(--text-size);
  line-height: 1.2;
  font-weight: 400;
  color: var(--text-color);
  /* max-width: 100%; */
}

.container {
  background-color: #34547a;
  padding-top: 100px;
  display: inline-block;
  width: 1920px;
  height: 250px;

  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  text-align: center;
}

.article {
  width: 50px;
  height: 50px;
}

.container-small {
  color: #ffffff;
  background-color: #34547a;
  width: 225px;
  height: 65px;
  top: 494px;
  left: 399px;
  text-align: center;
  margin-left: 400px;
  margin-right: auto;
  padding-top: 19px;
  /* max-width: 100%; */
}

.color {
  color: #34547a;
}

/*--------------------------------------------------------------------------*/

.header {
  background-color: var(--basic-background);
  padding-top: calc(var(--basic-space) * 1.5);
  padding-bottom: calc(var(--basic-space) * 1.5);
}

.logo {
  font-family: "Courgette", cursive;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
  margin-right: 80px;
}
.logo .color {
  color: var(--secondary-color);
}

.nav {
  display: inline-block;
  position: relative;
  bottom: 5px;
  top: -149px;
  left: 399px;
}
.nav-link + .nav-link {
  margin-left: 20px;
  text-transform: uppercase;
}

/*--------------------------------------------------------------------------*/

.section1 {
  background-color: var(--basic-color);
  color: #000000;
  padding-top: calc(var(--basic-space) * 12.5);
  padding-bottom: calc(var(--basic-space) * 10.5);
  width: 1920px;
  height: 700px;
  /* max-width: 100%; */
}

.section2 {
  /* max-width: 100%; */
  padding-top: 112px;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  padding-bottom: 40px;
  width: 1920px;
  height: 399px;
}
.section3 {
  /* max-width: 100%; */
  background-color: #eeeff1;

  padding-top: 112px;
  text-align: center;
  color: #000000;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  padding-bottom: 40px;
  width: 1920px;
  height: 399px;
}

.first-title {
  width: 540px;
  height: 67px;
  top: 362px;
  left: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26.25px;
  font-weight: 400;
  margin-left: 400px;
  margin-bottom: 60px;
  /* max-width: 100%; */
}

.second-title {
  color: #727272;
  width: 540px;
  height: 67px;
  top: 362px;
  left: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26.25px;
  font-weight: 400;
  margin-left: 690px;
  margin-top: 50px;
  max-width: 100%;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
  margin-left: 400px;
  margin-bottom: 60px;
  /* max-width: 100%; */
}
.section3 {
  width: 1920px;
  height: 1004px;
  background-color: #eeeff1;
}

.video {
  width: 1110px;
  height: 600px;
}

/*--------------------------------------------------------------------------*/

.about {
  background-color: var(--secondary-background);
  padding-top: calc(var(--basic-space) * 6);
  padding-bottom: calc(var(--basic-space) * 5);
}

.medium-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: calc(var(--basic-space) * 1.5);
}
.text-wrap {
  background-color: #e5e5e5;
  width: 100%;
  max-width: 50%;
  border-radius: 8px 0px 0px 8px;
  padding: calc(var(--basic-space) * 1.5);
  float: left;
}
.text-wrap .description {
  font-size: 1.5rem;
  line-height: 1.245;
}

/*--------------------------------------------------------------------------*/

.features {
  padding-top: calc(var(--basic-space) * 5);
  padding-bottom: calc(var(--basic-space) * 5);
}
.features .card {
  display: inline-block;
  max-width: 322px;
  border: 2px solid #e5e5e5;
  border-radius: 0.5rem;
  padding: calc(var(--basic-space) * 1.5);
}
.features .card + .card {
  margin-left: calc(var(--basic-space) * 4.25);
}

/*--------------------------------------------------------------------------*/

.footer {
  background-color: #f9f7e8;
  padding-top: calc(var(--basic-space) * 2);
  padding-bottom: calc(var(--basic-space) * 2);
  text-align: center;
}
.copy {
  margin-bottom: calc(var(--basic-space) * 1.5);
}
.social-link img {
  display: inline;
}
.social-link + .social-link {
  margin-left: calc(var(--basic-space));
}
