@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url("./Pacifico-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico2";
  src: local("Pacifico2"), url("./Pacifico-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Vetrino";
  src: local("Vetrino"), url("./Vetrino-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montestar";
  src: local("Montestar"), url("./Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
