@font-face {
  font-family: "Roboto";
  src: local("Roboto1"), url("./Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto2"), url("./Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
